* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    width: 100%;
    height: 70px;
    background-color: #ec715f;
    color: #fafafa;
    font-size: 16px;
    display: flex;
}

.logo {
    height: 70px;
    width: 150px;
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    width: 1024px;
}


.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    padding: 10px 0;
}

/* main-visual */
.main-visual {
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 200px;
}

.main-text {
    font-size: 64px;
    color: #fafafa;
}

.main-name {
    font-size: 20px;
    color: #fafafa;
    margin-top: 10px;
}

/* portfolio */
.portfolio {
    background-color: #eceff1;
    text-align: center;
    padding: 90px 0 90px 0;
}

.text {
    font-size: 32px;
    color: #000000;
    padding-bottom: 8px;
    position: relative;
}

.text::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 70px;
    height: 3px;
    background-color: #ec715f;
    margin-top: 8px;
}


.name {
    font-size: 16px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-img1 {
    background-image: url(img/sketch.jpg);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img2 {
    background-image: url(img/websuku.png);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;;
}

.portfolio-img3 {
    background-image: url(img/write.jpg);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img4 {
    background-image: url(img/webcamp.png);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img5 {
    background-image: url(img/talk.jpg);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img6 {
    background-image: url(img/webcamp-mother.png);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

/* feature */
.features {
    background-color: #fff;
    text-align: center;
    padding: 90px 0 90px 0;
}

.text {
  font-size: 32px;
  color: #000000;
  position: relative;
  padding-bottom: 8px;
}

.text::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 70px;
    height: 3px;
    background-color: #ec715f;
    margin-top: 8px;
}

.name {
    font-size: 16px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.strength-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.strength {
    width: 320px;
    text-align: center;
    margin: 10px;
}

.strength-name {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.strength-text {
     font-size: 16px;
     color: #000000;
     text-align: start;
}

/* profile */
.profile {
    background-color: #eceff1;
    text-align: center;
    padding: 90px 0 90px 0;
    
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.profile-bottom {
    display: inline-flex;
    justify-content: center;
}

.profile-img {
    width: 512px;
}

.profile-ex {
    width: 512px;
    text-align: start;
}

.profile-ex h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-ex p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
}

/* contact */
.contact {
    background-color: #fff;
    text-align: center;
    padding: 90px 0 90px 0;
    
}

.contact-bottom {
    display: inline-flex;
    justify-content: center;
    text-align: start;
}

.contact-bottom h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-bottom p {
    margin-bottom: 20px;
}

.mail-tel {
    width: 400px;
}

.sns {
    width: 400px;
}

.sns i {

}


footer {
   width: 100%;
   height: 50px;
   background-color: #ec715f;
   text-align: center;
   line-height: 50px;
}

.footer-text {
    color: #fafafa;
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
 
  header {
      width: 100%;
  }

  .main-visual {
      background-image: url(img/code.png);
  }

  .profile-bottom {
      flex-direction: column;
  }

  .profile-ex {
      text-align: center;
  }

  .contact-bottom {
      flex-direction: column;
      text-align: center;
  }
}