* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    width: 100%;
    height: 70px;
    background-color: #ec715f;
    color: #fafafa;
    font-size: 16px;
    display: flex;
}

.logo {
    height: 70px;
    width: 150px;
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    width: 1024px;
}


.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    padding: 10px 0;
}

/* main-visual */
.main-visual {
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 200px;
}

.main-visual-text {
    font-size: 64px;
    color: #fafafa;
}

.main-visual-name {
    font-size: 20px;
    color: #fafafa;
    margin-top: 10px;
}

/* portfolio */
.portfolio {
    background-color: #eceff1;
    text-align: center;
    padding: 90px 0 90px 0;
}

.portfolio-text {
    font-size: 32px;
    color: #000000;
    padding-bottom: 8px;
    position: relative;
}

.portfolio-text::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 70px;
    height: 3px;
    background-color: #ec715f;
    margin-top: 8px;
}


.portfolio-name {
    font-size: 16px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-img1 {
    background-image: url(img/sketch.jpg);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img2 {
    background-image: url(img/websuku.png);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;;
}

.portfolio-img3 {
    background-image: url(img/write.jpg);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img4 {
    background-image: url(img/webcamp.png);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img5 {
    background-image: url(img/talk.jpg);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}

.portfolio-img6 {
    background-image: url(img/webcamp-mother.png);
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center;
    margin: 10px 0 0 10px;
}


footer {
   width: 100%;
   height: 50px;
   background-color: #ec715f;
   text-align: center;
   line-height: 50px;
}

.footer-text {
    color: #fafafa;
}